@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  display: none;
}
::-webkit-scrollbar-track {
  margin-block: 4px;
}
::-webkit-scrollbar-thumb {
  background: #c5cee0;
  border-radius: 6px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* INPUT ANIMATION */
.dados label {
  transform-origin: 0 0;
}

.dados input:focus + label {
  transform: translateY(-0.6rem) translateX(0.1rem) scale(0.8);
  font-weight: 500;
}

.dados input:not(:placeholder-shown) + label {
  transform: translateY(-0.6rem) translateX(0.1rem) scale(0.8);
  font-weight: 500;
}

/* RADIX SELECT */
.SelectContent {
  position: relative;
  z-index: 10;
  width: var(--radix-select-trigger-width);
  max-height: 160px;
}

/* CHATBOT */

#WACContainer.WACContainer .WACLauncher__ButtonContainer.WACLauncher__ButtonContainer--noAnimation {
  margin-bottom: 50px !important;
}
